.wp_pragmatico_text_main_color {
  color: var(--wp_pragmatico_text_main_color);
}

.c4 {
  color: #cccccc;
}

.text-gradient {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
