@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

/*MENU PRINCIPAL*/
nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

nav div ul li {
  list-style: none;
}

nav div ul li a {
  text-decoration: none;
}

nav div ul li:not(:last-child) {
  margin-right: 16px;
}
