header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

/*MENU PRINCIPAL*/
nav div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav div ul li {
  list-style: none;
}

nav div ul li a {
  text-decoration: none;
}

nav div ul li {
  margin-right: 16px;
}

#menu_header {
  display: flex;
  align-items: center;
}

#button_header a {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
}
