#btn_menu_mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu_header {
    display: none;
  }

  #menu_header.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    top: 70px;
    height: 100vh;
    width: 100%;
    right: 0px;
    height: calc(100vh - 70px);
    z-index: 1000;
  }

  #btn_menu_mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
  }

  nav div ul {
    flex-direction: column;
  }

  div#button_header {
    display: flex;
    justify-content: space-around;
    margin: 0px;
  }

  ul#menu-menu-principal {
    padding: 0px;
  }

  .font-poppins-0 {
    align-items: flex-start;
  }

  #hamburger {
    display: block;
    border-top: 2px solid #fff;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
}
